.gridWrapper {
  height: calc(100% - 60px);
  padding: 15px;
}

.loadingWrapper {
  display: grid;
  place-items: center;
  gap: 15px;
}

.loader {
  width: 30px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --mask: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  mask: var(--mask);
  mask-composite: subtract;
  animation: rotate 1s infinite linear;
}

.buttonRow {
  padding: 5px 0px;
}

.refreshButton {
  background: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 6px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  color: #0f1111;
  cursor: pointer;
  font-size: 13px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  user-select: none;
}

.refreshButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}
